h1 {
    color: red;
}

#text-1{
    color: blue;
}
ol{
    color: red;
}
h2{
    color: green;
}
.red{
    color: red;
    font-size: 0.8cm;
} 
ul{
    color: rgb(110, 22, 22);
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

